.page_bg{
    color: white;
    background: black;
    height: 100%;
    padding-left: 400px;
}

.heading{
    font-family: 'Roboto ', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 2%;
}

.h2{
    font-size: 18px;
    font-weight: 700;
}
.page_bg > p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;
    font-size: 13px;
    font-weight: 400;
}

.field-text{
    font-family: sans-serif;
    color: #626262;
    font-size: 12px;
    font-weight: 400;
    margin-top: 2%;
}

.detail-input{
    width: 470px;
    height: 25px;
    // font-family: Arial, Helvetica, sans-serif;
    // font-weight: 400;
    // size: 15px;
    // line-height: 20px;
}
.song-genre > h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.lyrics-input{
    width: 478px;
    height: 500px;
    // resize: both;
    // overflow: auto;
}

.divider{
    background:  #626262;
    height:2px;
    width: 1000px;
    margin-right:310px ;
    margin-top: 2%;
    margin-bottom: 2px;
}

.default-choice {
    // font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: 100;
    size: 2px;
    line-height: 17px;
    color: #cccccc;
}

//show
.bgimage{
    width: 100%;
    height: 280px;
    min-width: 800px;
}
//wholeThing
.song-header{
    // display: flexbox;
    // position:relative;
    height: 280px;
}
 //blackbox
.overlay{
    // display:flex;
    // flex-direction: column;
    // justify-content: flex-start;
    top: -285px;
    position: relative;
    left: 25%;
    width: 50%;
    min-width: 600px;
    height: 280px;
    border: 1px solid black;
    background-color:rgba($color: #000000, $alpha: 0.7);
}

.cover{
    border-color:rgb(143, 143, 143);
    border-style: solid;
    border-width: 3px;
    margin-left: 30px;
    margin-top: 20px;
    width: 225px;
    height: 225px;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
    color: rgb(255, 255, 90);
    // margin-left: 40px;
    // margin-top: 30px;
}

.artist{
    color:white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;

}

.following-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #9a9a9a;
}

.lyrics-container{
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    margin-left: 25%;
    min-width: 600px;
}

.annotated-text {
    background-color: rgb(233, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-weight: 100;
    font-size: 18px;
    line-height: 31px;
    margin-left: 2%;
    white-space: pre-wrap;
    width: 40%;

}
.lyrics{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 31px;
    white-space: pre-wrap;
    width:  40%;
    margin-left: 2%;
    min-width: 300px;
}

.annotated-text:hover {
    animation: view-annotation 0.1s ease-in-out both;
}

.bg{
    background-color: rgb(246, 246, 246);

}

.edit-lyrics{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   font-size: 16px;
   margin-left: 2%;
   margin-top: 2%;
   margin-bottom: 2%;
   width: 93px;
   height: 33px;
   border: 3px solid black;
   background-color: white;
}

.album-info-container{
    display: flex;
    justify-content: flex-start;
}

.song-deeets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
}
.flex-col-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.lyrics-editor{
    height: 1200px;
    width: 840px;
    margin-top: 30px;
    margin-right: 95px;
}

.update-lyrics{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   font-size: 16px;
   margin-left: 1%;
   margin-top: 2%;
   width: 110px;
   height: 33px;
   border: 3px solid rgb(17, 196, 35);
   color: rgb(17, 196, 35);
   background-color: white;
}


.trending{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(241, 117, 148);
    margin-top: 1%;
    margin-bottom: 7%;
}

.chart-section {
    display: flex;
    flex-direction: column;
    // border: 2px solid red;
    margin-top: 5%;
}

.section-info {
    text-align: center;

}

.chart-contents {
    text-align: center
}
.song-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 35px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.divide-line{
    height: 2px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(235, 235, 235);
}
.comment-section {
    display:flex;
    flex-direction: column; 
    width:90%;
    margin-top: 3%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(245, 245, 245);
}
.comment-input {
    width: 90%;
    margin-left: 4%;
    margin-top: 4%;
    height: 60px;
    border: 2px solid rgb(204, 204, 204);
}
.comment-user {
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 16px;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.comment-body {
    font-size: 16px;
    font-weight: 100;
    line-height: 23px;
    font-family: sans-serif;
    margin-left: 2%;
    margin-bottom: 4%;
}

.comment-button {
    appearance: none;
    margin-left: 4%;
    margin-bottom: 5%;
    margin-top: 3%;
    width: 70px;
    height: 35px;
    border: 2px solid rgb(93, 199, 70);
    background: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    font-weight: 400;
    color: rgb(93, 199, 70);
}

.line{
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-bottom: 2%;
    background: rgb(127,143, 226);
}

.anno-view {
    background-color: white;
    height: auto;
    color: black;
    border-left: 4px solid #8692e6;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 16%;
    margin-left: 26.5%;
    position: absolute;
    margin-top: -1%;
}
.anno-input{
    font-family: 'Muli', sans-serif;
    border: 2px solid #8692e6;
    background-color: rgb(245, 245, 245);
    color: rgb(113, 113, 113);
    width: 210px;
    height: 150px;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;

}

#anno-form{
   border-left: 4px solid #8692e6;

}

.anno-name{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4%;
}

.comment-button-delete {
    appearance: none;
    margin-left: 25px;
    margin-bottom: 5%;
    margin-top: 3%;
    width: 70px;
    height: 35px;
    border: 2px solid rgb(93, 199, 70);
    background: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    font-weight: 400;
    color: rgb(93, 199, 70);
}

.anno-setup{
    text-align: left;
    padding-left: 25px;
    position: sticky;
    margin-left: 53%;
    top: 70px;
}
.anno-author{
    font-size: 12px;
    margin-top: 2%;
    margin-left: 2%;
}

.errors{
    color: red;
}

.hidden{
    display: none;
}

@keyframes view-annotation {
    from{
        background-color: rgb(233, 233, 233);
    }
    to{
        background-color: rgb(255, 255, 90);
    }
}

.session-submits{
    color:white;
    background-color: rgb(54, 54, 54);
    border: 2px solid rgb(38, 38, 38);
    margin-bottom: 5%;
    margin-top: 2%;
}
