

body{
    background-color: white;
}
.login-signup{
   
    line-height: 23px;
    padding-top: 9px;
    padding-right: 25px;
}
.textss{
 font-family: 'Roboto Condensed', sans-serif;
    font-style: normal; 
    font-weight: 625;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.user-header{
    display: flex;
    height: 40px;
    justify-content: flex-end;
    background-color: rgb(255, 255, 90);
}

.logo {
  width: 125px;
  height: 17px;
//   align-items: center;
//   margin: auto;
    padding-top: 10px;
  padding-right: 680px;
}


// Programme - 400×
// Family
// Programme, Arial, sans-serif;
// Style
// normal
// Weight
// 400
// Size
// 16px
// Line Height
// 23px
// Color
// #000000
// AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz
