
.form-container{
    display: flex;
    // align-content: center;
    background-color: rgb(14, 14, 14);
    width:370px;
    height:307px;
    border: 20px white;
    margin-left: auto;
    margin-right: auto;
    
    // position: absolute;
}
.form-container2{
    display: flex;
    flex-direction: column;
    justify-content: space space-between;
    align-items: flex-start;
    background-color: rgb(14, 14, 14);
    width:370px;
    height:190px;
    border: 20px white;
    // margin-left: auto;
    // margin-right: auto;
    // padding:10px;
    // color: white;
    // position: absolute;
}

.form-input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    font-style: normal; 
    color: rgb(236, 232, 233);
 width:370px;
    height:190px;
}

.form-input:focus{
    outline-color: white;
    // border-width: 0;
}

.session-submit{
    color:white;
    background-color: rgb(54, 54, 54);
    border: 2px solid rgb(38, 38, 38);
}

.signup-text {
    font-family: 'Roboto ', sans-serif;
    text-align: center;
    font-size: 62px;
    color: rgb(255, 255, 90);
    
}

.subtext {
    color: rgb(255, 255, 90);
    text-align: center;
}



.input-fields{
    background-color:  rgb(54, 54, 54);
    margin-left: auto;
    // margin-right: auto;
    color:white;
    caret-color: white;
    color: white;
    width: 350px;
    height: 30px;
    border: 2px solid rgb(38, 38, 38);
}


.signin-text{
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
    font-weight:700px;
    line-height: 40px;
}

.demo-user {    
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    size: 19px;
    text-align: center;
    width: 372px;
    height: 40px;
    background-color: rgb(255, 255, 90);
    opacity: 80%;
    border-radius: 5px;
}

.glogo{
    height: 30px;
}

.disclaimer{
 font-family: Arial, Helvetica, sans-serif;
}
