.form_bg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: black;
    height: 100vh;
}

body{
    background-color: white;
}
.login-signup{
   
    line-height: 23px;
    padding-top: 9px;
    padding-right: 25px;
    position:absolute;
    margin-top: -40px;
    margin-left: 87%;
}
.textss{
 font-family: 'Roboto', sans-serif;
    font-style: normal; 
    font-weight: 625;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.user-header{
    display: flex;
    height: 40px;
    justify-content: flex-end;
    background-color: rgb(255, 255, 90);
}

.charts{
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
 width: 125px;
  height: 17px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.user-logo{
    height: 35px;
    width: 35px;
    position: absolute;
    margin-left: 93%;
    margin-top: -19px;

}

.link-bar{
    height:40px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding-left: 400px;
    padding-right: 400px;
}

.bar-text{
    color: white;
    text-decoration: none;
    font-family:Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    margin-top: auto;
    margin-bottom: auto;
}

.sub-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin-top: 5%;
    margin-left: 15%;
    display: grid;
    border: 2px solid green;
}

.accents{
    background-color: black;
    height: 2px;
    width: 420px;
    // margin-left: 18%;
    margin-bottom: 25%;
}
.page-temp{
    width: 80%;
    margin-left: 10%;
    height: 80%;
    margin-top: 5%;
}

.home{
    margin:auto;
    width: 800px;
    height: 2000px;
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
}

.pink{
    width:800px;
    height:150px;
    background-color: pink;
}
.fauxcontainer{
    width: 800px;
    height: 1500px;
    background-color: lime;
}

.smallbox{
    top:50vh;
    right:5%;
    width:100px;
    height:300px;
    background-color: red;
    position: sticky;

    
}

.reallybig{
    font-size: 60px;
}

.chart-list{
    list-style: none;
    // border: 2px solid green;
    width: 70%;
    margin: auto;
}

.chart-deets{
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-chart{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    height: 79px;
    background: white;
}

.chart-look{
    padding-right: 5vw;
    font-family: sans-serif;
    font-size: 30px;
}

.chart-looks{
    font-family: sans-serif;
    margin: auto
}


.li-chart:hover {
    background-color: rgb(235, 235, 235);
}
